<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab4">

    <application>
        <activity android:name=".add.AddStudentActivity"></activity>
        <activity android:name=".lab4Activity" />
    </application>

</manifest>